{% extends '/base.html.twig' %}

{% block title %}
    <title>Ajouter un auteur</title>
{% endblock %}

{% block main %}
{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.firstName, 'Prénom', {'label_attr': {'class': 'form-article-title-label'}}) }}
        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.firstName) }}
    </div>

    <div class="form-group">
        {{ form_label(form.lastName, 'Nom', {'label_attr': {'class': 'form-article-pages-label'}}) }}
        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.lastName) }}

    </div>

    <div class="form-group">
        {{ form_label(form.birthDate, 'Date de naissance:', {'label_attr': {'class': 'form-article-publishedat-label'}}) }}
        {{ form_widget(form.birthDate, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.birthDate) }}
    </div>

    <div class="form-group">
        {{ form_label(form.deathDate,'Date de décès', {'label_attr': {'class': 'form-article-author-label'}}) }}
        {{ form_widget(form.deathDate, {'attr': {'class': 'form-control'}}) }}

    </div>
        {{ form_widget(form.submit) }}
{{ form_end(form) }}
{% endblock %}

{% block footer %}
   <p>Footer du formulaire d'ajout d'auteur</p>
{% endblock %}
